[Unit]
Description=Crypto News FastAPI App
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/projects/crypto-news
EnvironmentFile=/root/projects/crypto-news/.env
ExecStart=/root/projects/crypto-news/crypto-news-venv/bin/uvicorn main:app --host 127.0.0.1 --port 8003
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
